body{
    margin: 0;
    padding: 0;

}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}
header div{
    position: relative;
}
header div span{
    position: relative;
    right: -15%;
    top: -72%;
    color: red;
    z-index: 99;
}
main{
display: grid;
grid-template-columns: repeat(3,30%);

justify-content: space-between;
    width: 80%;
  margin: auto;
}

main div img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
main div div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main div div input{
    width: 10%;
    height: 3rem;
    outline: none;
    border: none;
} 
main button{

        width: 100%;
        height: 3rem;
    
}
#cart{
    background-color: white;
    color: red;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    transition: 0.5s;

}
#cart h3{
    text-align: right;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.5rem;
}
#cart h2{
    text-align: center;

}
#cart span{
    text-align: right;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item img{
    width: 3rem;
    height: 4rem;
    object-fit: cover;
}
.cart-item input{
    width: 3rem;
}
